* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 250px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        background-image: url('./logo1.png');
    background-image: linear-gradient(rgba(355, 355, 355, 0.5), rgba(355, 355, 355, 0.5)), url('./logo1.png');
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ed5858;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f31616;
}

#resultado {
    margin-top: 15px;
    font-size: 14px;
    white-space: pre-line; /* mantém as quebras de linha */

}
